.container{
    max-width: 140rem;
    padding: 4.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center align items vertically */
}

ul{
    display: flex;
    gap: 3.2rem;
}

/* Mobile Navbar Styles */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        gap: 2rem;
    }

    ul {
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }
}